{% extends 'base.html' %}
{% block content %}
<h1>Quizzes de la asignatura {{asignatura.nombre_asignatura}} </h1>
    {% if quiz %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>Nombre Quiz</th>
			  <th>Categoria</th>
			  <th>Examen</th>
			  <th>Solo un intento</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz %}

  			<tr>
			  <td>{{ quiz.title }}</td>
			  <td>{{ quiz.category }}</td>
			  <td>{{ quiz.exam_paper }}</td>
			  <td>{{ quiz.single_attempt }}</td>
			  <td>
				<a href="{% url 'quiz_start_page' slug=quiz.url %}">
				  {"View details"}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>No existen quizzes disponibles</p>
    {% endif %}

{% ifequal user.first_name 1 %}
</div>
<a class="btn btn-primary btn-lg" href="/quiz/create" role="button">Agregar Quizz</a>
</div>
</div>
<a class="btn btn-primary btn-lg" href="/preguntas/" role="button">Agregar Preguntas</a>
</div>
{% endifequal %}
{% ifequal user.first_name 0 %}
</div>
<a class="btn btn-primary btn-lg" href="/quiz/create/" role="button">Agregar Quizz</a>
</div>
</div>
<a class="btn btn-primary btn-lg" href="/preguntas/" role="button">Agregar Preguntas</a>
</div>
{% endifequal %}
 	
{% endblock %}