{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<body>
	{% ifequal unidad.lvls 0 %}

    <form  method="POST">
        Ingrese la cantidad de niveles que desea para esta unidad (Minimo: 1 Max: 3): 
        <input type="number" min=1 max=3 name="niveles" value="{{niveles}}" style="width:40px" / >
        <input type="submit" value="Crear niveles">
        {% csrf_token %}
    </form>
    {% else %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
        <div class="row mt-3">
            {% for lvlsunidad in lvlsunidad %}
            <div class="col-sm-3">
                <div class="card border-danger mb-2" style="max-width: 18rem;">
                  <div class="card-header" style="color:#f44336">{{lvlsunidad.nombre}} </div>
                  <div class="card-body text-danger">
                      <h5 class="card-title">ID: {{lvlsunidad.id}}</h5>
                      <p class="card-text"><a href="unidad/{{lvlsunidad.id}} " class="btn btn-outline-danger">Ir</a></p>
                  </div>
              </div>
          </div>

          {% endfor%}
      </div>
  </div>
  {% endifequal %}    
  {% ifnotequal user.first_name 2%}
  <center><a class="btn btn-outline-danger" href="quiz/createnivelacion" role="button">Crear prueba de nivelacion</a></center>
  {% endifnotequal %}
</body>
{% endblock %}
