{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<a class="btn btn-primary btn-lg" href="/quiz/tfquestion/create" role="button">Agregar pregunta T/F</a>
	<a class="btn btn-primary btn-lg" href="/quiz/multi/create" role="button">Agregar pregunta Multiple</a>
	<a class="btn btn-primary btn-lg" href="/quiz/essay/create" role="button">Agregar pregunta Ensayo</a>
	<a class="btn btn-primary btn-lg" href="/opciones/create" role="button">Agregar opciones a pregunta multiple</a>
</div>
{% endblock %}