{% extends 'base.html' %}

{% block content %}
 <h1>Profesores en el S.A.E.</h1>
 <div class="container">
 	<div class="row mt-5 justify-content-center">
 {% for profesor in profesor %}
 		<div class="card" style="width: 18rem;">
 			<div class="card-body">
 				<h5 class="card-title">{{profesor.rut}}</h5>
 				<p class="card-text">{{profesor.nombre}}</p>
 				<p class="card-text">{{profesor.curso}}</p>
 				<a href="/profesor/{{profesor.id}} " class="card-link">Ir</a>
 			</div>
 		</div>
 {% endfor %}		
 	</div>
 	<a class="btn btn-primary btn-lg" href="/profesor/create/" role="button">Agregar Profesor</a>
 </div>
{% endblock %}